body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-header-container {
  display: flex;
  align-items: center;
}

/* header */

.container-nav {
  display: flex;
  margin-right: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo-span {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}
.list-header-nav {
  display: flex;
  gap: 40px;
  padding-left: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-nav:hover,
.header-nav:focus {
  color: #404bbf;
}
.contacts-header {
  font-style: normal;
  display: flex;
}
.list-address {
  display: flex;
  gap: 40px;
  margin-right: auto;
}
.contacts-studio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-studio:hover,
.contacts-studio:focus {
  color: #404bbf;
}

/* main */
.main-section {
  width: 1440px;
}
.section-main {
  background: #2e2f42;
  padding: 188px 0;
}
.main-logo {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* advantages */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-two {
  width: ((100% - 3 * 24px) / 4);
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team */
.section-ourteam {
  background-color: #f4f4fd;
}
.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.ourteam-ul {
  display: flex;
  gap: 24px;
}
.section-list {
  background-color: #ffffff;
  width: ((100% - 4 * 24px) / 4);
}
.person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Our Portfolio */
.portfolio-section {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-ul {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-list {
  border: 1px solid #e7e9fe;
  width: ((100% - 3 * 24px) / 3);
}
.name-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}
.footer-section {
  background: #2e2f42;
}
.footer-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-title {
  display: block;
}
